{% extends "templates/painel.twig"%}
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" 
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" 
    integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/css/perfil.css" rel="stylesheet" type="text/css"/>
    <link href="/css/cadastro.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
{% endblock %}
{% block conteudo %} 

    <div class="col-xs-2">

    </div>

    <div class="col-xs-8">
        <table class="table">
            <thead>
                    <th style="width: 12%">#</th>
                    <th>Algoritmo</th>
                </tr>
            </thead>
            <tbody>
                {% for resposta in resposta %}
                    <a href="respostas/"><i class="fas fa-comment"></i></a>
                    <pre>   
                    <td>{{ resposta.algoritmo }}</td>
                    </pre>
                    </tr>
                {%endfor%} 
            </tbody>
        </table>
            <a href="/respostas" type="button" class="btn btn-success" style="margin-bottom: 0px"><i class="fas fa-arrow-left"></i> Voltar</a>
    </div>
{% endblock %}
